name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    strategy:
      fail-fast: false
      matrix:
        node:
          - 20
          - 22
          - 23

    steps:
      - name: Check out repo
        uses: actions/checkout@v5.0.0

      - name: Set up Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm run package

      - run: npm test

      - run: npm pack

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: "node-${{ matrix.node }}"
          path: xt0rted-expressive-code-file-icons-*.tgz

      - name: Report coverage
        if: always()
        uses: davelosert/vitest-coverage-report-action@v2.8.3

  lint:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node:
          - 20
          - 22
          - 23

    steps:
      - name: Check out repo
        uses: actions/checkout@v5.0.0

      - name: Install Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm run lint

      - run: npm run prettier

  release:
    if: github.event_name == 'push'

    needs:
      - build
      - lint

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6.0.0
        with:
          name: node-23

      - run: tar -xzf xt0rted-expressive-code-file-icons-*.tgz

      - name: Build preview version
        working-directory: package
        run: |
          # Bump the version
          npm version minor --no-git-tag-version

          # Get current version
          version=$(jq -r .version package.json)

          # Add preview suffix
          preview_version="${version}-gpr.${{ github.run_number }}"

          # Update version in package.json
          npm version $preview_version --no-git-tag-version

      - name: Set up Node.js
        uses: actions/setup-node@v6.1.0
        with:
          registry-url: "https://npm.pkg.github.com"

      - name: Publish to GPR
        working-directory: package
        run: npm publish --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
